  /* USER VIEW */

  .zc-userList-action { 
    width: 100%;
    height: 70px;
    padding: 10px 30px;
    line-height: 50px;
    background: #fff;
  }

  .zc-userViewFilter {
    float: left;
    width: 200px;
    margin: 0 10px 0 0;
  }

  .zc-userViewFilter .chosen-container-single .chosen-single {
    width: 200px;
  }

  .zc-userViewFilter .chosen-container .chosen-drop{
    min-width: 200px;
  }


  .zc-userView-action .zc-search-wrap {
    float: left;
    margin-right: 0px;
  }

  .zc-userView-action .zc-filterBtn {
    float: left;
    vertical-align: top;
    margin: 7px 10px 0 10px;
  }

  .zc-allProjectList .zc-userView-action .zc-filterBtn {
    margin-right: 0;
  }

  .zc-userView-action .zc-btn-set {
    float: left;
    margin-top: 10px
  }

  .zc-userList-view { display: none; }

  .zc-userList-view .zc-table>tbody>tr>td {
    max-width: 300px;
  }

  .zc-userList-view .zc-grid-row {
    line-height: 50px;
  }

  .zc-userAction-icons .zc-btn.icon {
    top: 10px;
    margin: 0 10px 0 0;
    float: right;
  }

  .zc-userAction-icons .icon{
    margin: 0;
  }

  .zc-userList-view .zc-user-pic {
    width: 28px;
    height: 28px;
    margin: 0 10px 0 0;
    top: 0;
    float: left;
    border-radius: 50%;
    line-height: 28px;
    text-align: center;
    font-size: 13px;
    color: #fff;
    background: #1ab394;
    text-transform: uppercase;
    overflow: hidden;
  }

  .zc-userList-view .zc-user-pic img {
    max-width: 100%;
    height: auto;
  }

  .zc-userList-view .zc-user-name, .zc-userProjects .zc-user-name {
    float: left;
    display: block;
    line-height: 28px;
    max-width: calc(100% - 40px);
    overflow: hidden;
    text-overflow: ellipsis;
  }

  .user-profile-wrap {
    margin-top: 20px;
  }

  .user-profile-wrap h3 {
    font-size: 14px;
    line-height: normal;
    margin-bottom: 10px;
  }

  .add-new-user {
    opacity: 0;
    transform: translateY(-10px);
  }

  .zc-red-text {
    color:#df5f62
  }

  /*---------------------------- CUSTOMIZE OVERWRITE -------------------------*/

  .zc-dialog-content .zc-radio-clone  {
    line-height: 16px;
    width: auto
  }

  .zc-dialog-content .zc-radio {
    width: auto;
  }

  .zc-radio-field .user-profile {
    display: block;
    margin: 0 0 0 20px;
  }

  .zc-list-box .hide-menuItem {
    display: none;
  }

  .zc-list-box .show-menuItem {
    display: block;
  }

  /*-------------------------------- CREATE PORTAL --------------------------------*/

  .new-crt-prtl .zc-loader {
    position: absolute;
    top: 50%;
    left: 50%;
    margin-left: -24px;
    margin-top: -48px;
  }

  .zc-create-portal {
    position: absolute;
    left: 0;
    right: 0;
    top:0;
    bottom: 0;
  }

  .zc-portal-form {
    position: relative;
    width: 580px;
    margin: 80px auto 0;
    text-align: center;
  }

  .zc-portal-form .code-logo {
    margin: 0 auto;
  }

  .zc-portal-form h1 {
    font-size: 32px;
    font-weight: 400;
    margin: 0 0 35px;
  }

  .zc-portal-form h2 {
    font-size: 18px;
    margin-bottom: 6px;
  }

  .zc-portal-form .zc-field label {
    min-width: 80px;
  }

  .zc-portal-form .zc-field .zc-input {
    width: 300px;
  }

  .zc-portal-form .zc-field.zc-hint-wrap {
    text-align: left;
  }

  .zc-portal-form .zc-field.inline .zc-hint {
    margin-left: 196px;
  }

  .zc-field.zc-hint-wrap .zc-hint.zc-hide {
    display: none;
  }

  .zc-portal-form .zc-alert {
    display: none;
    width: 328px;
    clear: both;
    right: -264px;
    top: 148px;
    line-height: 1.6;
    text-align: left;
    padding: 10px 15px;
  }

  .zc-portal-form .zc-alert li {
    line-height: 18px;
    padding-bottom: 10px;
  }

  .zc-portal-form .zc-alert li:last-child {
    padding-bottom: 0;
  }

  .zc-portal-form .crt-prtl-btn {
    margin-top: 18px;
  }

  .zc-create-portal .zc-empty-image {
    width: 200px;
    height: 134px;
    background-position: 0 0;
    background-image: url(../ide/images/empty-codeveloper.svg);
  }

  /*-------------------------- MAIL VERIFICATION -----------------*/

  .zc-verfication .header {
    display: block;
    width: 100%;
    height: 50px;
    background: #fff;
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.17);
  }

  .zc-verfication .logo 
  {
    float: left;
    margin: 10px 0 0 15px;
  }

  .zc-verfication .allready-signin {
    float: right;
    margin: 15px 15px 0 0;
  }

  .zc-verfication .article {
    width: 100%; 
    height: auto;
    margin: 100px 0 0 0;
    left: 0;
  }

  .zc-verfication .article-wrap {
    width: 560px;
    margin: 0 auto;
  }

  .zc-verfication h1 {
    text-align: center;
    color: #333;
    font-size: 32px;
  }

  .zc-verfication p {
    text-align: left;
    font-size: 16px;
    margin-top: 50px;
  }
